<div id="myCarousel" class="carousel slide" data-ride="carousel" data-touch='true' >
        <div class="carousel-inner" >
          <div class="carousel-item active" data-interval = "10000">
            <img class="d-block w-100" 
    
            src="http://forkgasm.com/images/bread-pudding.png" 
            alt="First slide"
          
            >
          </div>
        <div class="carousel-item"  data-interval = "10000">
          <img class="d-block w-100" 
   
          src="http://forkgasm.com/images/6410429C-D04A-4624-9026-715C0A64A005.jpeg" alt="Second slide">
        </div>
          
        <div class="carousel-item"  data-interval = "10000">
            <img class="d-block w-100" 

            src="http://forkgasm.com/images/fathead-pineapple.jpg" alt="Third slide">
        </div>
    
      </div>
    
      <a class ="carousel-control-prev" href = "#myCarousel" role ="button" data-slide="prev">
        <span class = "carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    
      <a class ="carousel-control-next" href = "#myCarousel" role ="button" data-slide="next">
        <span class = "carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    
</div>
    